* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
  min-width: 400px;
  height: 300px;
}
form {
  width: 100%;
  align-items: center;
}
input[type="text"] {
  width: 90%;
  height: 25px;
  outline: none;
  padding: 5px 10px 5 10px;
}
input[type="submit"] {
  padding: 10px 50px;
  border-radius: 20px;
  outline: none;
  background-color: lightgreen;
  border: none;
  font-weight: bold;
}
